
@import "~react-image-gallery/styles/css/image-gallery.css";
@import ‘bootstrap/dist/css/bootstrap.min.css’;

html,
body {
  margin: 0;
  background-color: black;
}

h1{
  color: black;
/*  font-family: monospace roboto;*/
  font: 300 15px system-ui;
  font-weight:normal;
  word-spacing: 0.5px;
  letter-spacing: 5px; 
  padding-top: 0.9rem;
  margin-left:2rem;
}


h2{
  color: black;
/*  font-family: monospace roboto;*/
  font: 400 20px system-ui;
  font-weight:normal;
  word-spacing: 2px;
  letter-spacing: 0.5px; 

}


h3{
  color: white;
/*  font-family: monospace roboto;*/
  font: 400 20px system-ui;
  font-weight:normal;
  word-spacing: 2px;
  letter-spacing: 0.5px; 

}


h4{
  color: white;
/*  font-family: monospace roboto;*/
  font: 400 15px system-ui;
  font-weight:normal;
  word-spacing: 2px;
  letter-spacing: 0.5px; 

}


h5{
/*  font-family: monospace roboto;*/
  font: 400 9px system-ui;
  font-weight:normal;
  word-spacing: 2px;
  letter-spacing: 0.5px; 
  padding-right: 0.5rem;

}

text{
  text-align:justify;
  line-height: 1.6;
  letter-spacing: 0.5px; 
  font:400 15px system-ui;
  padding-right: 3rem;
  padding-top:2rem;
}

p {
    display: block;
    font:400 15px system-ui;
    letter-spacing: 0.5px; 
    margin-block-start: 1.5rem;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.translate{
  opacity: 0.2;
  margin-top:0;
}

#App {
  font-family: sans-serif;
  color: white;
}

#header {
  overflow: hidden;
  display: inline-flex;
  margin: 0 auto;
  padding-bottom: 0.7rem;
  padding-left: 4rem;
}

#padding{
  margin-top:2rem; 
  margin-left: 1.3rem
}


#page-wrap-brand {
  
  display:flex;
  justify-content: space-around;
 /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  background-color: white;
 margin:0 auto;
 -webkit-box-shadow: -4px 2px 6px 9px darkgrey;
 -moz-box-shadow: -4px 2px 6px 9px;
  box-shadow: -4px -2px 6px 4px darkgrey;
  border-bottom: 0.01rem black solid;

}
#page-wrap {
  text-align: center;
  min-width: 360;
 /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
  background-color: white;
  padding-top: 0.7rem;
  padding-left: 2rem;
 -webkit-box-shadow: -4px 2px 6px 9px darkgrey;
 -moz-box-shadow: -4px 2px 6px 9px;
  box-shadow: -4px -2px 6px 4px darkgrey;
  border-bottom: 0.01rem black solid;

}


#page-wrap2 {
  text-align: center;
 /* Prevent sidebar from showing a scrollbar on page */
 overflow: auto;
 background-color: black;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding:1rem;
}

#page-wrap3 {
  text-align: center;
 /* Prevent sidebar from showing a scrollbar on page */
 overflow: auto;
 background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding-top: 1rem;   
}

#page-wrap4 {
  text-align: center;
  background-color: black;
 /* Prevent sidebar from showing a scrollbar on page */
 overflow: auto;
 background-color: white;
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 padding-top: 0.3rem;   
}

#page-wrap5 {
  text-align: center;
  background-color: black;
 /* Prevent sidebar from showing a scrollbar on page */
 overflow: auto;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 2rem;   
}

#page-wrap6 {
 background-color: black;
 display:grid;
 justify-content: center;
 align-items: center;
 padding-top:1rem;
 padding-left: 1.5rem;    
}

.sticky {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.grid{
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding-top:1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:auto;
    grid-gap: 3rem;
     
} 

.grid2{
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding-top:1rem;
    padding-bottom:1rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:10px auto auto 80px;
    grid-gap: 0;
     
    grid-template-areas:    "header"
                            "main"
                            "sidebar"
                            "footer";
} 


@media only screen and (width: 500px) {
 .grid2 {
   grid-template-columns: 1fr;
   grid-template-rows:auto auto;
     }
 
}

.grid-2{
    display: grid;
    width: 100%;
    margin: 0 auto;
    padding-top:3rem;
    padding-bottom: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:25px;
    grid-gap: 1rem;
}
@media only screen and (width: 500px) {
 .grid-2 {
   grid-template-columns: 1fr;
   grid-template-rows:auto auto;
     }
 
}


.video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
}

.img {
  position: relative;
  left: 11rem;
  bottom:7rem;
  width: 65%;
  height: 85%;
}

.button{
 -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: white;
    box-sizing: border-box;
    margin: 0em;
    font: 400 11px system-ui;
    padding: 1px 7px 2px;
    box-shadow:1px 1px 1px 0px #dbd2db;
    border-width: 1px;
    border-radius: 5px;
    border-style: outset solid; 
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-image: initial;
}

.aboutme{
 text-align:justify;
  padding-right: 5rem;
  padding-top:2rem; 
}


.aboutme2{
 text-align:justify;
  padding-left: 3.3rem;
  padding-right: 1.8rem;
  padding-top:7rem;
}
 

.carousel{
  height: 30rem;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  font-size: 1rem;
  font: 400 17px system-ui;
  font-weight:normal;
  word-spacing: 2px;
  letter-spacing: 0.5px; 
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;

}

/* Change color on hover */
.bm-item:hover {
  color: red;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 26px;
  height: 20px;
  left: 10px;
  top: 24px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: black;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 0px #dbd2db;

}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background:black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
  border: 0.01rem solid;
  border-right-color: white;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #88BB65;
/*  fill: #373a47;*/
}

/* Wrapper for item list */
.bm-item-list {
  color:#88BB65; 
  /*color: #b8b7ad;*/
}

.bm-overlay {
  background: rgba(136, 187, 101, 100);
}
/* Styling of overlay */
/*.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
*/
/*social icons styles*/


.social-container{
  background: transparent;
  position: relative;
  display:inline-flex;
  justify-content: space-between;
  padding:0.6rem;
  padding-left: 3rem;
  padding-bottom:1.5rem;

}

.social-container a{
  display: inline-flex;
  justify-content: space-around;
}

.social-icons{
  color: black;
  width: 5%;
  padding-top: 1rem;
  position: relative;
 
}

.social-icons a{
  margin: 0 1rem;
  transition:transform 250ms;
  display: inline-block;
}

.social-icons:hover {
  transform: translateY(-2px);
  color: red;
}

/*contact */

.name { 
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    color: white;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .name:hover{
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    height:30px;
    width:400px;
  }

  .email {
    background-color: #7239C1;  
    border-bottom: 5px solid #502789;
    height:50px;
    width:300px;
    
  }
  .email:hover{
    background-color: #7239C1;  
    border-bottom: 5px solid #502789;
    height:30px;
    width:380px;
   
  }

  .subject { 
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    color: white;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .subject:hover{
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    height:30px;
    width:400px;
  }


  .message {   
    background-color: rgb(230, 108, 15);
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .message:hover{
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 100px;
    width:370px;
  }

  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #2DD7BB;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    transform: translateY(-120px); 

  }

  .submit:hover{
    border-bottom: 5px solid #CB64B2;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }

  /* Shadow to make it look like form is floating  */
  .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
  }

  .wrapper {
    width: 80%;
    height: 50%;
    margin: 5% auto 0 auto; 
  }

/* form animation starts */
  .form {
    background: #f0f0f0;
    text-align: center; 
    box-shadow: 0px 0px 5px 2px #AAA; 
    border-radius: 10px;  
    width: 100%; 
    
  }

input{
    text-align: left;
    opacity: 0.3    
}

input::placeholder{
  font-size:5px, 

}

.gridform{
    display: grid;
    width: 100%;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
    grid-column-gap: 0px;
    grid-gap: 0px;
     
} 



.gridcontainer{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:auto auto;
    grid-column-gap: 0px;
    grid-gap: 0rem;
     
} 


@media only screen and (width: 360px) {
 .gridcontainer {
   grid-template-columns: auto;
   grid-template-rows:auto;
   grid-auto-flow: column;
     }
 
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:0 auto;    
}

/*footer*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  color:darkgrey;
  font:400 12px system-ui;
    overflow: auto;
  background-color: black;
 -webkit-box-shadow: -1px -1px 4px -2px darkgrey;
 -moz-box-shadow: -1px -1px 4px -2px;
  box-shadow: -1px -1px 4px -2px darkgrey;
  border-top: 0.01rem black solid;

};

.footer,
.push {
  height: 50px;
}

